<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	
	
	<category label="Settings">
		<setting id="playerType" type="enum" values="Auto|MPlayer|DVDPlayer|AMLPlayer" label="30003" default="0"/> 
	</category>
	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="default-view" type="number" label="Default View" default="500" enable="!eq(-1,false)"/>
	</category>
	
	<category label="System Details">
		<setting id="password" label="Password" type="text" option="hidden"  enable="!eq(-1,)" default="" />
		<setting id="passcode" label="Passcode" type="text" option="hidden"  enable="!eq(-1,)" default="" />
	</category>

	<category label="[COLOR red][B]ADD PATHS[/B][/COLOR]">
		<setting label="[B]URL to m3u playlist[/B]" type="text"  id="online_m3u" default="https://sites.google.com/site/championiptv/playlist/championiptv.m3u" />
		<setting label="[B]URL to m3u MovieList[/B]" type="text"  id="online_movielist" default="http://devilsoriginbuild.x10host.com/addon/MovieList/MovieList.m3u" />
	</category>
</settings>